@import "tailwindcss";
@plugin "daisyui";
.f1 {
  font-family: "Poetsen One", sans-serif;
  
}
.f-p {
  font-family: "DM Serif Text", serif;
  font-weight: 800;
  
}
active{
  background-color: blueviolet;
}